 <div class="container">
 <h2>Horizontal form</h2>
  <form class="form-horizontal" action="/action_page.php">
  


<label class="control-label col-sm-2">Title:</label>
      
      <input type="text" name="title" class="col-sm-offset-2 col-sm-10"><br>
      
      <label class="control-label col-sm-2">Date:</label>
      <input type="date" name="date"  class="col-sm-offset-2 col-sm-10"><br>

      <label class="control-label col-sm-2">Hours:</label>
      <input type="time" name="hours"  class="col-sm-offset-2 col-sm-10"><br>
      <label class="control-label col-sm-2">Overview:</label>
      <input type="textarea" name="overview"  class="col-sm-offset-2 col-sm-10"><br><br>
      <input type="file" name="img"  class="btn btn-default">
</form>
</div>